
.main{
    border-color: brown;
   
    
}
.gd{
    display: grid;
    width: 702px;
    grid-template-columns:repeat(8,88px) ;
    grid-template-rows:repeat(8,10px) ;
    border: 3px solid ;
    margin-left: 450px;
   
    
}

.c1:nth-of-type(2n+1){
   background-color: rgba(0, 0, 0, 0.974);
   height: 12vh;
   }
   
.b1:nth-of-type(2n){
    background-color: rgba(0, 0, 0, 0.962);
    height: 12vh;
    }
    img{
        height: 90px;
        width: 90px;
    }
   
   
    
    
